<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel= "stylesheet" href= "{{ asset("assets/css/style.css") }}">
    {% block title %}
        <title>Library</title>
    {% endblock %}
</head>
<body>
<header class=main-menu">
    <h1 class="main-title">Librairy</h1>
    <nav class="navbar">
        <ul class="menu">
            <li class= btn-author>Bienvenue {{ app.user.email }}</li>
            <li>
                <a class="btn-author" href="{{ path("admin_authorsList") }}">Liste des auteurs</a>
            </li>
            <li>
                <a class="btn-book" href="{{ path("admin_booksList") }}">Liste des livres</a>
            </li>
            <li>
                <a class="btn-book" href="{{ path("app_logout") }}">Deconnexion</a>
            </li>
        </ul>
    </nav>
</header>
<main>
    {% block main %}
    {% endblock %}

</main>

<footer>

</footer>
</body>
</html>