{% extends "base.html.twig" %}

{% block main %}

    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.title, 'Titre', {'label_attr': {'class': 'form-title-label'}}) }}
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.title) }}
    </div>
    <div class="form-group">
        {{ form_label(form.nbPages,'Nombre de pages', {'label_attr': {'class': 'form-nbPages-label' }}) }}
        {{ form_widget(form.nbPages, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.nbPages) }}
    </div>
    <div class="form-group">
        {{ form_label(form.author,'Auteur', {'label_attr': {'class': 'form-author-label' }}) }}
        {{ form_widget(form.author, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.author) }}
    </div>
    <div class="form-group">
        {{ form_label(form.publishedAt,'Date de publication', {'label_attr': {'class': 'form-publishedAt-label' }}) }}
        {{ form_widget(form.publishedAt, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.publishedAt) }}
    </div>

    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}

    {{ form_end(form) }}

{% endblock %}